#principal{
    width: 1024px;
    margin: 0 auto;
}

#cuadro{
    margin: 100px auto;
    width: 40%;
    text-align: center;
}

#imag {
    position: absolute;
    top:  50px; 
    left: 250px;

}

#imag1 {
    position: absolute; 
    top: 20px; 
    left: 950px; 
}

#imag2 {
    position: absolute;
    top:  10px; 
    left: 20px;

}
#panel1
{ 
    background-color:#999999;

}
.ui-custompanelgrid, .ui-custompanelgrid td {
//font-weight: bold;
background-color:  #FFEFFF;
}
.ui-custompanelgrid1, .ui-custompanelgrid1 td {
//font-weight: bold;
background-color:  #FFFFD4;
}

.ui-custompanelgrid2, .ui-custompanelgrid2 td {
//font-weight: bold;
background-color:  #E5FFEA ;
}

.ui-panelgrid > * > tr, .ui-panelgrid > * > tr > td.ui-panelgrid-cell {
    border: none;
}

#formulario .text-ouput{
    font-weight:  bold;
    color:black;
}

#formulario .text-ouputfact{
    font-weight:  bold;
    color:red;
    font-size: 16px;
}

#formulario .text-ouputcxc{
    font-weight:  bold;
    color:red;
    font-size: 90% !important;
}
.text-cantidad{
    font-weight: bold;
    color:greenyellow;
}