#principal{
    width: 1024px;
    margin: 0 auto;
}

#cuadro{
    margin: 100px auto;
    width: 40%;
    text-align: center;
}

#imag {
    position: absolute;
    top:  50px; 
    left: 250px;

}

#imag1 {
    position: absolute; 
    top: 20px; 
    left: 950px; 
}

#imag2 {
    position: absolute;
    top:  10px; 
    left: 20px;

}
#panel1
{ 
    background-color:#999999;

}
.ui-custompanelgrid, .ui-custompanelgrid td {
    //font-weight: bold;
    background-color:  #FFEFFF;
}
.ui-custompanelgrid1, .ui-custompanelgrid1 td {
    //font-weight: bold;
    background-color:  #FFFFD4;
}

.ui-custompanelgrid2, .ui-custompanelgrid2 td {
    //font-weight: bold;
    background-color:  #E5FFEA ;
}

.ui-custompanelgrid3, .ui-custompanelgrid3 td {
    //font-weight: bold;
    background-color:  #E0EDFF ;
}

.ui-panelgrid > * > tr, .ui-panelgrid > * > tr > td.ui-panelgrid-cell {
    border: none;

}

.ui-datatable-even{
    background: white
}

.uidatatable-odd{
    background: red;
}

.requerimientoactivo {
    background-color: #FFEFFF;
    color: black;
    font-weight: normal;
}
.facturaabonada{
    background: gold;
    color: black;
    font-weight: normal;
}

.facturacobrada{
    background: #E5FFEA ;
    color: black;
    font-weight: normal;  
}
.facturaporcobrar{
    background: #FFEFFF    ;
    color: black;
    font-weight: normal;  
}
.facturaabonadaporcobrar{
    border: 2px solid black ;
    background: darkseagreen;
    color: black ;
    font-weight: bolder;
}

#CompraListForm datatable{
    background: none repeat scroll 0 0 #F2F5F9;
}

#formulario .text-ouput{
    font-weight:  bold;
    color:black;
}

#formulario .text-ouputfact{
    font-weight:  bold;
    color:red;
    font-size: 16px;
}

#formulario .text-ouputcxc{
    font-weight:  bold;
    color:red;
    font-size: 90% !important;
}
#formulario .text-ouputsaldo{
    font-weight:  bold;
    color:blue;
    font-size: 110% !important;
}
.text-cantidad{
    font-weight: bold;
    color:greenyellow;
}
.titulo{
    font-weight:  bold;
    color:blue;
}
#CompraListForm .text-ouput{
    font-weight:  bold;
    text-align: right;
    color:black;
}
#CompraViewForm .text-ouput{
    font-weight:  bold;
    text-align: right;
    color:black;
}
#FacturaViewForm .text-ouput{
    font-weight:  bold;
    text-align: right;
    color:black;
}
#ClienteViewForm .text-ouput{
    font-weight:  bold;
    text-align: right;
    color:black;
}
#ClienteEditForm .text-ouput{
    font-weight:  bold;
    text-align: right;
    color:black;
}
.calendario{
    position: absolute;
    top:  390px; 
    left: 350px;
    width: 400px;
}
.etiqueta1{
    position: absolute;
    top:  360px; 
    left: 420px;
    font-weight:  bold;
    font-size: 15px;
    color: red;
}
